@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}

/* body */
body {font-family: 'NotoSansKR', sans-serif; font-size: 14px; color: #05141f; background: #ffffff;}
#wrapper {min-width: 1024px; margin: 0 auto; overflow: hidden; position: relative;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 10000000;}
#skip-nav:focus {top: 0;}

/* common */
div.content-box > h3 {font-size: 33px; font-weight: 600; position: relative; background-color: white; color: #333; margin-top: 9px;}
div.content-box > h3::before {content: ''; width: 56px; height: 4px; position: absolute; left: 50%; top: -5px; transform: translate(-50%, 0); background-color: #616161;}

p.control {}
p.control a {background-color: #fff; display: inline-block; text-align: center; line-height: 35px; position: relative; width: 40px; height: 40px; font-size: 20px; color: #999999;  transform: translateY(-50%); top: 50%; border: 2px solid #bfbfbf; border-radius: 5px; transition: all 0.3s;}
p.control a:hover {background-color: #333; opacity: 0.3;}
p.control a.prev {position: absolute; left: 15px;}
p.control a.next {position: absolute; right: 15px;}


/* header */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 100px; padding: 0 30px; box-sizing: border-box; z-index: 100000; background-color: #fff;}
#header::after {content: ''; position: absolute; left: 0; top: 100%; width: 100%; height: 0px; background-color:  rgba(255,255,255,0.4); z-index: 5000; box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1); transition: height 0.3s;}
/* #header.open {box-shadow: none; border-bottom: none;} */
#header.open::after {height: 150px;}
#header > div.content-box {height: 100%; z-index: 10000;}
#header > div.content-box > div.table-left {float: left; width: 50%; padding-top: 30px;}
#header > div.content-box > div.table-left > div.logo {width: 448px; height: 70px;}
#header > div.content-box > div.table-left > div.logo > a {display: block; width: 100%; height: 100%; background: url(../img/logo_black.png) no-repeat; text-indent: -9999px; overflow: hidden;}
#header > div.content-box > div.table-right {float: right; width: 50%; text-align: right; position: relative;}
#header > div.content-box > div.table-right > ul.sns-list {padding: 10px 0;}
#header > div.content-box > div.table-right > ul.sns-list > li {display: inline-block; width: 30px; height: 30px; text-align: center; border-radius: 50px;}
#header > div.content-box > div.table-right > ul.sns-list > li:hover > a i {color : #fff;}
#header > div.content-box > div.table-right > ul.sns-list > li:hover {background-color: #669933;}
#header > div.content-box > div.table-right > ul.sns-list > li > a i {transition: color 0.3s;}
#header > div.content-box > div.table-right > ul.sns-list > li:hover > a > em::after {display: block;}
#header > div.content-box > div.table-right > ul.sns-list > li > a {display: block; width: 100%; height: 100%; line-height: 30px; position: relative;}
#header > div.content-box > div.table-right > ul.sns-list > li > a > em { position: relative;}
#header > div.content-box > div.table-right > ul.sns-list > li > a > em > img {position: relative; top: 2px;}
#header > div.content-box > div.table-right  ul.gnb-list { position: absolute; right: 0; top: 50px; text-align: center; z-index: 10000; max-height: 50px; overflow: hidden; transition: max-height 0.2s;}
#header > div.content-box > div.table-right  ul.gnb-list.on {max-height: 500px;}
#header > div.content-box > div.table-right  ul.gnb-list > li {float: left; width: 140px;}
#header > div.content-box > div.table-right  ul.gnb-list > li:hover > a { text-decoration: dashed; font-weight: 400;}
#header > div.content-box > div.table-right  ul.gnb-list > li > a {display: block; width: 99%; height: 50px; line-height: 50px; font-size: 18px; font-weight: 700;  transition: all 0.3s; }
#header > div.content-box > div.table-right  ul.gnb-list > li > ul.sub {padding-top: 30px;}
#header > div.content-box > div.table-right  ul.gnb-list > li > ul.sub > li {height: 30px; border: 1px solid transparent;}
#header > div.content-box > div.table-right  ul.gnb-list > li > ul.sub > li:hover > a {color: #fff;}
#header > div.content-box > div.table-right  ul.gnb-list > li > ul.sub > li > a {display: block; height: 100%;  line-height: 26px; font-size: 14px; transition: all 0.5s;}

/* main */
#main {background-color: #fff; padding-top: 100px;}
#main-visual {}
#main-visual > div.content-box {width: 100%; overflow: hidden; }

/* left: actor-list */
#main-visual > div.content-box > div.left {float: left; width: 200px; height: calc(100vh - 100px);  box-sizing: border-box; position: relative; }
#main-visual > div.content-box > div.left > ul.actor-list {margin:30px 0 0 30px;}
#main-visual > div.content-box > div.left > ul.actor-list > li {height: 32px; border: 1px solid #fff; box-sizing: border-box;}
#main-visual > div.content-box > div.left > ul.actor-list > li > a {display: block; height: 100%; line-height: 32px; font-size: 15px; font-weight: 400;}
#main-visual > div.content-box > div.left > ul.actor-list > li > a > span {display: inline-block; width: 0; height: 2px; background-color: #333; position: absolute; margin-top: 15px; opacity: 0; transition: all 0.5s; }
#main-visual div.content-box div.left ul.actor-list li:hover > a > span {width: 20px; opacity: 1;}
#main-visual > div.content-box > div.left > ul.actor-list > li > a > div.name {transition: all 0.5s;}
#main-visual div.content-box div.left ul.actor-list li:hover > a > div.name {padding-left: 30px;}

/* left: fanclub */
#main-visual > div.content-box > div.left  ul.fanclub {position: absolute; left: 10px; bottom: 10px; }
#main-visual > div.content-box > div.left  ul.fanclub > li + li {margin-top: 10px;}
#main-visual > div.content-box > div.left  ul.fanclub > li > a {display: block;}
#main-visual > div.content-box > div.left  ul.fanclub > li > a > img {}

/* right: image-slide */
#main-visual > div.content-box > div.right {float: left; width: calc(100% - 200px);}
#main-visual > div.content-box > div.right > ul.actor-image {width: 100%; height: calc(100vh - 100px); position: relative; }
#main-visual > div.content-box > div.right > ul.actor-image > li {position: absolute; width: 100%; height: 100%; display: none;}
#main-visual > div.content-box > div.right > ul.actor-image > li.on {display: block;}
#main-visual > div.content-box > div.right > ul.actor-image > li.show {animation: show-slide 1s ease 0s 1 normal forwards; display: block;}
#main-visual > div.content-box > div.right > ul.actor-image > li.hide {animation: hide-slide 1s ease 0s 1 normal forwards; display: block;}
#main-visual > div.content-box > div.right > ul.actor-image > li > a { display: block;}
#main-visual > div.content-box > div.right > ul.actor-image > li > a > img {width: 100%; height: calc(100vh - 100px); object-fit: cover; object-position: 50% 0%;}

/* right: animation */
@keyframes show-slide {
  /* 구현하는 방법 */
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide-slide {
0% {opacity: 1;}
100% {opacity: 0;}
}





/* main-work */
#main-work {}
#main-work div.content-box {margin:  50px auto ; position: relative; max-width: 1632px; box-sizing: border-box;  padding: 80px 0; background-color: #fff; text-align: center; box-sizing: border-box;}
#main-work div.content-box > div.slide-box {position: relative; top: 80px;}
#main-work div.content-box > div.slide-box > div.box {margin: 20px auto; padding: 0 20px; width: 321px; height: 555px;   position: relative; box-sizing: border-box;}
#main-work div.content-box > div.slide-box > div.box > ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-work div.content-box > div.slide-box > div.box > ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%;  padding: 0 30px; box-sizing: border-box; }
#main-work div.content-box > div.slide-box > div.box > ul.slide > li + li {}
#main-work div.content-box > div.slide-box > div.box > ul.slide > li > a{}
#main-work div.box > ul.slide > li > a {}
#main-work div.box > ul.slide > li > a > div.genre {font-size: 20px; font-weight: 700; color: #669933; margin: 0 0 20px;}
#main-work div.box > ul.slide > li > a > div.image {}
#main-work div.box > ul.slide > li > a > div.image > img {width: 100%;}
#main-work div.box > ul.slide > li > a > div.text {margin: 20px 0 10px;}
#main-work div.box > ul.slide > li > a > div.text > span.title {font-size: 16px; font-weight: 700; color: #333; display: block;}
#main-work div.box > ul.slide > li > a > div.text > span.cast {display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 10px; box-sizing: border-box; margin-top: 10px; font-size: 14px; color: #333;}
#main-work div.box > ul.slide > li > a > div.text > span.desc {margin-top: 10px; font-size: 14px; color: #333;}
#main-work > div.content-box > p.control {}
#main-work > div.content-box > p.control > a.prev {left: 100px;}
#main-work > div.content-box > p.control > a.next {left: auto; right: 100px;}



#main-vod {background-color: #fff;}
#main-vod div.content-box {width: 100%; padding: 80px 0; text-align: center;}
#main-vod ul.youtube-list {padding-top: 100px; max-width: 1070px; margin: 0 auto; overflow: hidden;}
#main-vod ul.youtube-list li {float: left; width: calc(50% - 10px); height: 352px;}
#main-vod ul.youtube-list li + li {margin-left: 20px;}
#main-vod ul.youtube-list li iframe {width: 100%; height: 100%;}
#main-vod div.slide-box {margin:  50px auto ; position: relative; max-width: 1632px; padding: 0 75px; box-sizing: border-box; }
#main-vod div.slide-box  div.box { overflow: hidden;}
#main-vod div.slide-box div.box ul.slide {position: relative; transition: left 0.5s ease-out; width: 5000px;}
#main-vod div.slide-box div.box ul.slide li {float: left; margin-right: 30px; width: 186px; box-sizing: border-box;}
#main-vod div.slide-box div.box ul.slide li:last-child {margin-right: 0px;}
#main-vod div.slide-box div.box ul.slide li img {width: 100%; }
#main-vod div.slide-box  ul.slide li span.title {display: block; text-align: left; padding: 5px 5px 5px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

#main-community {}
#main-community > div.content-box {max-width: 100%; margin: 80px auto 0; text-align: center;position: relative; }
#main-community > div.content-box > div.box {width: 100%; margin: 0 auto; background-color: #eee; padding: 40px 0 160px; text-align: right;}
#main-community > div.content-box > div.box > div.button {max-width: 1480px; margin: 0 auto; margin-top: 5px;}
#main-community > div.content-box > div.box > div > a.more {display: block; font-size: 15px; font-weight: 700; color: #666666; padding: 10px 0;}
#main-community div.community-list {column-width: 340px; column-count: 4; column-gap: 10px; text-align: center; max-width: 1500px; margin: 0 auto; }
#main-community div.community-list > div.list {max-width: 340px; display: inline-block;  margin-bottom: 20px; background-color: #fff;}
#main-community div.community-list > div.list > a {display: block; width: 100%; height: 100%; box-shadow: 5px 5px 5px #bfbfbf;}
#main-community div.community-list > div.list > a > div.image {width: 100%; position: relative;}
#main-community div.community-list > div.list > a > div.image::after {content:''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: transparent; transition: all 0.3s;}
#main-community div.community-list > div.list > a > div.image.on::after {content:''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(255,255,255,0.4); transition: all 0.3s;}
#main-community div.community-list > div.list > a > div.image > img {width: 100%;}
#main-community div.community-list > div.list > a > div.text {padding: 20px; text-align: left;}
#main-community div.community-list > div.list > a > div.text > span.title {display: block; font-size: 18px; color: #333333; margin-bottom: 20px; line-height: 1.2; font-weight: 700;}
#main-community div.community-list > div.list > a > div.text > span.desc {display: block;  font-size: 15px; color: #666666; font-weight: 500;}
#main-community div.community-list > div.list > a > div.text > span.date {display: block;  font-size: 15px; color: #333333; margin-top: 20px; line-height: 1.2; font-weight: 700;}




#footer {width: 100%; background-color: #313131; text-align: center;}
#footer div.content-box {max-width: 1200px; margin: 0 auto; padding: 40px 0; display: table; box-sizing: border-box;}
#footer section.info {display: table-cell; width: 50%; text-align: left;}
#footer section.info h2 {margin-bottom: 10px;}
#footer section.info span.logo-name {display: block; font-size: 14px; font-weight: 700; color: #fff;}
#footer section.info address span {display: block; font-size: 12px; font-style: normal; color: #999999;}
#footer section.info p.copyright {margin-top: 10px; font-size: 11px; color: #999999;}
#footer section.family-site {display: table-cell; width: 30%; text-align: end;  text-align: left;}
#footer section.family-site div.family-site-box { position: relative; top: -26px; left: 136px;}
#footer section.family-site div.family-site-box > h3.name {color: #fff; width: 185px; padding-bottom: 5px; font-size: 14px;}
#footer select {width: 185px; height: 30px; padding: 0 10px;}
#footer section.sns-list {display: table-cell; width: 20%;}
#footer section.sns-list ul.sns-logo {position: relative; top: -24px;}
#footer section.sns-list ul.sns-logo > li {width: 30px; height: 30px; display: inline-block;}
#footer section.sns-list ul.sns-logo > li a {display: block; width: 100%; height: 100%; line-height: 30px;  color: #fff;}
#footer section.sns-list ul.sns-logo > li a > img {position: relative; top: 2px;}




